/* Форматирование ечеек с кодом */

.highlight-shell .highlight pre::before {
  content: "C:\\> ";
  font-weight: bold;
}

.highlight-bash .highlight pre::before {
  content: "$ ";
  font-weight: bold;
}

.output .highlight pre {
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}
